.img-model{
    height: 220px;
    width:60%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 21%;
}
.modal-content{
    border: solid 2px rgb(37, 194, 37);
    border-radius: 10px;
    
}

.modal{
    margin-top: 1%;
}

p{
    text-align: justify;
}

.b{
    margin-right: 10px;
}

.btns{
    align-items: center;
}