footer.footer {
    height: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    position: relative;
}

footer.footer .containerFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*or 1fr 1fr 1fr 1fr  or 25% 25% 25% 25%*/
}

footer.footer .containerFooter>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .containerFooter h2 {
    color: rgb(0, 0, 0);
}

footer.footer .container p {
    font-family: var(--Lexend);
}

footer.footer .newsletter .form-element {
    background: #000;
    display: inline-block;
}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span {
    color: white;
    background: transparent;
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .follow div i {
    color: #fff;
    padding: 0 .4rem;
    cursor: pointer;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: rgb(165, 151, 151);
    font-size: 1.2rem;
}

footer.footer .move-up span:hover {
    /* color: green; */
    font-size: 1.3rem;
    transition: 0.5s all;
    cursor: pointer;
}

h4{
    margin-left:25%;
    font-size: 1rem;
}

h4 a{
    color: green;
}


@media only screen and (max-width: 1130px) {

    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 520px) {

    footer.footer .container>div {
        padding: 1rem .9rem !important;
    }

    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
}